@model SignBoards.Models.SignBoard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SignBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignBoardAddress.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignBoardAddress.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FittingInstructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FittingInstructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FittingCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FittingCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedByUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
