@model IEnumerable<SignBoards.Models.SignBoardBid>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignBoard.FittingInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBidWinner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedByUserId)
        </th>
        <th>
            Make Bid
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignBoard.FittingInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBidWinner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedByUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
